<ion-content class="card-background-page">
    <ion-slides pager>
        <div *ngFor="let n of newsFeed">
            <ion-slide>
                <ion-card>
                    <h1 ion-text color="primary" [innerHTML]="n.title.rendered"></h1>
                    <div class="post-img"><img src="{{n.img}}"/></div>
                    <ion-card-content>
                        <p [innerHTML]="n.excerpt.rendered"></p>
                    </ion-card-content>
                    <ion-item>
                        <span item-left>{{n.date | date:'dd/MM/yyyy'}}</span>
                        <button ion-button icon-left clear item-end (click)="readMore(n)">
                            <ion-icon name="search"></ion-icon>
                            Lire la suite
                        </button>
                    </ion-item>
                </ion-card>
            </ion-slide>
        </div>
    </ion-slides>
</ion-content>