<!--
  Generated template for the PostDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title [innerHTML]="post.title.rendered"></ion-title>
    </ion-navbar>

</ion-header>

<ion-content parallax-header>
    <div class="header-image"><img src="{{post.img}}"/></div>
    <div class="main-content">
        <h1 ion-text [innerHTML]="post.title.rendered"></h1>
        <p #content [innerHTML]="post.content.rendered" padding></p>
        <div *ngIf="slideshow.length >0">
            <h2 ion-text padding>Image gallery</h2>
            <ion-slides pager>
                <ion-slide *ngFor="let img of slideshow">
                    <ion-card>
                        <img src="{{img}}"/>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </div>
        <div *ngIf="mp3.length >0">
            <h2 ion-text padding>Media player</h2>
            <ion-list>
                <audio-track #audio *ngFor="let track of mp3" [track]="track" (onFinish)="onTrackFinished($event)">
                    <ion-item>
                        <ion-thumbnail item-left>
                            <img src="{{audio.art}}">
                            <audio-track-play dark [audioTrack]="audio">
                                <ion-spinner></ion-spinner>
                            </audio-track-play>
                        </ion-thumbnail>
                        <div item-content style="width:100%">
                            <p><strong>{{audio.title}}</strong> ⚬ <em>{{audio.artist}}</em></p>
                            <audio-track-progress-bar dark duration progress [audioTrack]="audio"
                                                      [ngStyle]="{visibility: audio.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
                        </div>
                    </ion-item>
                </audio-track>
            </ion-list>
        </div>
    </div>
</ion-content>
